<table class="table table-striped">
  <tbody>
    <tr ng-repeat="item in model">
        <td>
            <div class="col-md-2 col-md-offset-5  column productbox">
                <img ng-src="{{::item.url_portada}}" class="img-responsive">
                <div class="producttitle">{{::item.titulo}}</div>
                <div class="productprice">
                    <div class="pull-right">
                        <button class="btn btn-primary btn-sm" ng-click="go(item)" >Detail</button>
                    </div>
                    <div class="pricetext">{{::item.precio}}&euro;</div>
                </div>
            </div>
        </td>
      </tr>
  </tbody>
</table>
