<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand" href="#">Buy, Sell, Trade, Consign, Collect</a>
        </div>
        <div class="collapse navbar-collapse animated fadeIn" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav animated fadeIn">
                <li class="active">
                    <a href="#">What's New</a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Comics<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu animated flipInX" role="menu">
                        <li>
                            <a href="#">
                                SubItem 01</a>
                        </li>
                        <li>
                            <a href="#">
                                SubItem 02</a>
                        </li>
                        <li>
                            <a href="#">
                                SubItem 03</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mangas<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu animated flipInX" role="menu">
                        <li>
                            <a href="#">
                                SubItem 01</a>
                        </li>
                        <li>
                            <a href="#">
                                SubItem 02</a>
                        </li>
                        <li>
                            <a href="#">
                                SubItem 03</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text"></p>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="caret"></span>
                    </a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Login second -->
                                    <div class="social-buttons">
                                        <div class="iconSpecial">
                                            <i class="glyphicon glyphicon-user"></i>Login</div>
                                    </div>
                                    <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">login</label>
                                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Username" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputPassword2">Senha</label>
                                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                            <div class="help-block text-right">
                                                <a href="">Need help?</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                                        </div>
                                        <div class="checkbox text-dark">
                                            <label>
                                                <input type="checkbox">
                                                Remember me
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    <nav class="" role="navigation">
        <div class="container-fluid">
            <div class="hidden-xs col-sm-12 col-md-12 col-lg-12 " style="z-index:-1">
                <img class="img-responsive" src="http://i66.tinypic.com/2e4vjur.jpg" alt=""/>

            </div>

            <div class="visible-xs">
                <img class="img-responsive" src=" http://i.ebayimg.com/00/s/NTAwWDE1MDA=/z/9NAAAOSwAYtWGEcE/$_57.JPG" alt=""/>

            </div>

        </div>
    </nav>
