<nav class="navbar navbar-default navbar-static-top" ng-controller="MenuController" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand" href="#">Buy, Sell, Trade, Consign, Collect</a>
        </div>
        <div class="collapse navbar-collapse animated fadeIn" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav animated fadeIn">
                <li class="active">
                    <a href="#{{currentPath}}">What's New {{currentPath}}</a>
                </li>
                <li>
                    <a href="#{{currentPath}}">About Us</a>
                </li>
                <li class="dropdown">
                    <a href="#{{currentPath}}" class="dropdown-toggle" data-toggle="dropdown">Comics<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu animated flipInX" role="menu">
                        <li>
                            <a href="#{{::paths.itemsComicHero}}">
                                superheroes</a>
                        </li>
                        <li>
                            <a href="#{{::paths.itemsComicSciFi}}">
                                sci-fi</a>
                        </li>
                        <li>
                            <a href="#{{::paths.itemsComicAdventure}}">
                               Adventures</a>
                        </li>
                        <li>
                            <a href="#{{::paths.itemsComicAll}}">
                               All comics</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#{{currentPath}}" class="dropdown-toggle" data-toggle="dropdown">Mangas<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu animated flipInX" role="menu">
                        <li>
                            <a href="#{{::paths.itemsMangaShonen}}">
                                shonen</a>
                        </li>
                        <li>
                            <a href="#{{::paths.itemsMangaSeinen}}">
                                seinen</a>
                        </li>
                        <li>
                            <a href="#{{::paths.itemsMangaMecha}}">
                                mecha</a>
                        </li>
                        <li>
                            <a href="#{{::paths.itemsMangaAll}}">
                                All mangas</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#{{currentPath}}">send your comics bro</a>
                </li>
                <li>
                    <a href="#{{currentPath}}">My Account</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text"></p>
                </li>
                <li class="dropdown">
                    <a href="#{{currentPath}}" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="caret"></span>
                    </a>
                  <ul id="login-dp" class="dropdown-menu"  ng-include="'views/loginMenu.html'"></ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
   <div ng-include="'views/BannerMenu.html'"></div>
  </nav>
