<div class="container">
    <script>
        $(document).ready(function() {
            $('#characterLeft').text('600 characters left');
            $('#message').keydown(function() {
                var max = 600;
                var len = $(this).val().length;
                if (len >= max) {
                    $('#characterLeft').text('You have reached the limit');
                    $('#characterLeft').addClass('red');
                    $('#btnSubmit').addClass('disabled');
                } else {
                    var ch = max - len;
                    $('#characterLeft').text(ch + ' characters left');
                    $('#btnSubmit').removeClass('disabled');
                    $('#characterLeft').removeClass('red');
                }
            });
        });
    </script>
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2">
        <form role="form" novalidate>
            <br style="clear:both">
            <h3 style="margin-bottom: 25px; text-align: center;">Share a Comic Bro!</h3>
            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" ng-model="model.ISBN" name="ISBN" placeholder="ISBN" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" ng-model="model.titulo" name="titulo" placeholder="titulo" required>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" ng-model="model.autor" name="autor" placeholder="autor" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" ng-model="model.editorial" name="editorial" placeholder="editorial" required>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <input type="number" class="form-control input-lg" ng-model="model.num_paginas" name="num_paginas" placeholder="numero de paginas" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" ng-model="model.url_portada" name="url_portada" placeholder="url cover image" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <legend>Type</legend>
                <div class="funkyradio">
                    <div class="funkyradio-success">
                        <input ng-class="model.tipo" id="comic" type="radio" name="tipo" value="tipo" checked>
                        <label for="comic">Comic</label>
                    </div>
                </div>
                <div class="funkyradio">
                    <div class="funkyradio-success">
                        <input ng-class="model.tipo" id="manga" type="radio" name="tipo" value="tipo">
                        <label for="manga">Manga</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <legend>Genre</legend>
                <div class="funkyradio">
                    <div class="funkyradio-primary">
                        <input checklist-model="model.genero" type="checkbox" id="shonen" value="shonen">
                        <label for="shonen">Shonen</label>
                    </div>
                </div>
                <div class="funkyradio">
                    <div class="funkyradio-primary">
                        <input checklist-model="model.genero" type="checkbox" id="seinen" value="seinen">
                        <label for="seinen">Seinen</label>
                    </div>
                </div>
                <div class="funkyradio">
                    <div class="funkyradio-primary">
                        <input checklist-model="model.genero" type="checkbox" id="mecha" value="mecha">
                        <label for="mecha">Mecha</label>
                    </div>
                </div>
                <div class="funkyradio">
                    <div class="funkyradio-primary">
                        <input checklist-model="model.genero" type="checkbox" id="superheroes" value="superheroes">
                        <label for="superheroes">Superheroes</label>
                    </div>
                </div>
                <div class="funkyradio">
                    <div class="funkyradio-primary">
                        <input checklist-model="model.genero" type="checkbox" id="adventures" value="adventure">
                        <label for="adventures">Adventures</label>
                    </div>
                </div>
                <div class="funkyradio">
                    <div class="funkyradio-primary">
                        <input checklist-model="model.genero" type="checkbox" id="sci-fi" value="sci-fi">
                        <label for="sci-fi">Sci-Fi</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <textarea class="form-control" type="textarea" ng-model="model.overview" placeholder="Overview if you want" maxlength="600" rows="7"></textarea>
                <span class="help-block">
                    <p id="characterLeft" class="help-block ">You have reached the limit</p>
                </span>
            </div>
            <hr class="colorgraph">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <button type="button" id="submit" name="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>
