<div class="container" ng-controller="SellItemController">
    <script>
        $(document).ready(function() {
            $('#characterLeft').text('600 characters left');
            $('#message').keydown(function() {
                var max = 600;
                var len = $(this).val().length;
                if (len >= max) {
                    $('#characterLeft').text('You have reached the limit');
                    $('#characterLeft').addClass('red');
                    $('#btnSubmit').addClass('disabled');
                } else {
                    var ch = max - len;
                    $('#characterLeft').text(ch + ' characters left');
                    $('#btnSubmit').removeClass('disabled');
                    $('#characterLeft').removeClass('red');
                }
            });
        });
    </script>
    <div class="alert alert-success col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" ng-show="successMessage">
        {{successMessage}}
    </div>
    <div class="alert alert-danger col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" ng-show="errorMessage">
        {{errorMessage}}
    </div>
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2">
        <form name="itemForm" role="form" ng-submit="saveItem()" novalidate>
            <br style="clear:both">
            <h3 style="margin-bottom: 25px; text-align: center;">Share a Comic Bro!</h3>
            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" ng-model="model.ISBN" name="ISBN" placeholder="ISBN" required>
                        <div class="text-warning" ng-show="itemForm.ISBN.$dirty && itemForm.ISBN.$error.required">
                            The ISBN is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" ng-model="model.titulo" name="titulo" placeholder="titulo" required>
                        <div class="text-warning" ng-show="itemForm.titulo.$dirty && itemForm.titulo.$error.required">
                            The title is required
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" ng-model="model.autor" name="autor" placeholder="author" required>
                        <div class="text-warning" ng-show="itemForm.autor.$dirty && itemForm.autor.$error.required">
                            The author is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" ng-model="model.editorial" name="editorial" placeholder="editorial" required>
                        <div class="text-warning" ng-show="itemForm.editorial.$dirty && itemForm.editorial.$error.required">
                            The editorial is required
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                        <input type="number" class="form-control input-lg" ng-model="model.precio" name="precio" placeholder="price" min="0" required>
                        <div class="text-warning" ng-show="itemForm.precio.$dirty && itemForm.precio.$error.required">
                            nº pags is required
                        </div>
                        <div class="text-danger" ng-show="itemForm.precio.$dirty && (itemForm.precio.$error.number || itemForm.precio.$error.min)">
                            The price must be a number between 0 and 10
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                        <input type="number" class="form-control input-lg" ng-model="model.num_paginas" name="num_paginas" placeholder="nº pags" min="0" required>
                        <div class="text-warning" ng-show="itemForm.num_paginas.$dirty && itemForm.num_paginas.$error.required">
                            nº pags is required
                        </div>
                        <div class="text-danger" ng-show="itemForm.num_paginas.$dirty && (itemForm.num_paginas.$error.number || itemForm.num_paginas.$error.min)">
                            The nº pags must be a number between 0 and 10
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="url" class="form-control input-lg" ng-model="model.url_portada" name="url_portada" placeholder="url cover image" required>
                    </div>
                    <div class="text-warning" ng-show="itemForm.url_portada.$dirty && itemForm.url_portada.$error.required">
                        url cover image is required
                    </div>
                    <div class="text-danger" ng-show="itemForm.url_portada.$dirty && itemForm.url_portada.$error.url">
                        use a correct url
                    </div>
                </div>
            </div>
            <div class="form-group" ng-init="model.tipo='comic'">
                <legend>Type</legend>
                <div class="funkyradio">
                    <div class="funkyradio-success">
                        <input ng-model="model.tipo" id="comic" type="radio" name="tipo" value="comic" checked="checked">
                        <label for="comic">Comic</label>
                    </div>
                </div>
                <div class="funkyradio">
                    <div class="funkyradio-success">
                        <input ng-model="model.tipo" id="manga" type="radio" name="tipo" value="manga">
                        <label for="manga">Manga</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <legend>Genre</legend>
                <div ng-repeat="genero in generos">
                    <div class="funkyradio">
                        <div class="funkyradio-primary">
                            <input checklist-model="model.genero" type="checkbox" id="{{genero}}" checklist-value="genero">
                            <label for="{{genero}}">{{::genero}}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <textarea class="form-control" type="textarea" ng-model="model.overview" placeholder="Overview if you want" maxlength="600" rows="7"></textarea>
                <span class="help-block">
                    <p id="characterLeft" class="help-block ">You have reached the limit</p>
                </span>
            </div>
            <hr class="colorgraph">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <button type="submit" ng-disabled="itemForm.$invalid" class="btn btn-primary btn-block btn-lg">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>
