<div class="container" ng-controller="SettingsEditController">
  <!--  <div class="alert alert-success col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" ng-show="successMessage">
        {{successMessage}}
    </div>
    <div class="alert alert-danger col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" ng-show="errorMessage">
        {{errorMessage}}
    </div>-->
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form name="updateForm" ng-submit="editUser()" novalidate>
                <h2>Settings
                    <small>Edit your profile data.</small>
                </h2>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="nickname" value="{{model.nickname}}" class="form-control input-lg"  disabled>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group" >
                            <input type="password" value="sdfdfsdfsd" maxlength="20" ng-minlength="8" ng-maxlength="20" name="password" class="form-control input-lg" tabindex="2" disabled>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" name="email" ng-model="model.email" value={{model.email}} class="form-control input-lg" placeholder="{{model.email}}" tabindex="3">
                    <div class="text-warning" ng-show="updateForm.email.$dirty && updateForm.email.$error.email">
                        Invalid email Adress
                    </div>
                </div>
                <div class="form-group">
                    <input type="tel" maxlength="9" ng-minlength="9" ng-maxlength="9" name="tlf" value={{model.tlf}} ng-model="model.tlf" class="form-control input-lg" placeholder="{{model.tlf}}" tabindex="4">
                    <div class="text-warning" ng-show="((updateForm.tlf.$error.number || updateForm.tlf.$error.minlength  || updateForm.tlf.$error.maxlength) && updateForm.tlf.$dirty)">
                        The phone number must be a number of 9 digits
                    </div>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <input type="submit" ng-disabled="updateForm.$invalid" value="Submit Changes" class="btn btn-primary btn-block btn-lg" tabindex="5">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a href="#{{paths.myAccount}}" class="btn btn-danger btn-block btn-lg">exit</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
